<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<form th:method="PATCH" th:action="@{/admin/edit?id={id}(id=${user.getId()})}" th:object="${user}">
  <input type="hidden" name="_method" value="patch" />
  <input type="hidden" th:field="*{id}" />

  <label for="username">Username:</label>
  <input type="text" id="username" th:field="*{username}" />
  <br/>

  <label for="password">Password:</label>
  <input type="password" id="password" th:field="*{password}" />
  <br/>

  <label for="email">Email:</label>
  <input type="text" id="email" th:field="*{email}" />
  <br/>

  <!-- Отображение списка ролей -->
  <label for="roles">Roles:</label>
  <select multiple="multiple" id="roles" th:field="*{roles}" th:size="${#lists.size(allRoles)}">
    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
  </select>
  <br/>

  <button type="submit">Save</button>
</form>

<form th:action="@{/logout}" method="post">
  <button type="submit">Logout</button>
</form>

</body>
</html>
