<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
</head>
<body>
<h1>User Information</h1>
<p>ID: <span th:text="${user.id}"></span></p>
<p>Username: <span th:text="${user.username}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Roles: <span th:each="role : ${user.roles}" th:text="${role.name} + ', '"></span></p>


<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>



<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>


<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>

</body>
</html>-->
